<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<title>Guests</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"       rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
	<form class="form-inline" method="POST" th:object="${guest}" th:action="@{/guests}" style="margin: 20px 0">
    	<div class="form-group">
        	<input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
        	
        	<input type="text" th:field="*{companions}" class="form-control" placeholder="Companions"/>
        	
        	<button type="submit" class="btn btn-primary">Add</button>
    	</div>
    </form>
    
	<div class="panel panel-default" style="margin: 10px">
    	<div class="panel-heading">
            <h1 class="panel-title">Guests List</h1>
		</div>
        <div class="panel-body">
            <table class="table">
            	<thead>
            		<tr>Name</tr>
            		<tr>Companions</tr>
            	</thead>
            	<tbody>
            		<tr th:each='guest :${guests}'>
            			<td th:text="${guest.name}">       </td>
            			<td th:text="${guest.companions}"> </td>
            		</tr>
            	</tbody>
            </table>
        </div>
    </div>
</body>
</html>