<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout">
<body>
<div th:fragment="content">
	<form class="form-inline" method="POST" th:object="${guest}" th:action="@{/guests}" style="margin: 20px 0">
    	<div class="form-group">
        	<input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
        	
        	<input type="text" th:field="*{companions}" class="form-control" placeholder="Companions"/>
        	
        	<button type="submit" class="btn btn-primary">Add</button>
    	</div>
    </form>
    
	<div class="panel panel-default" style="margin: 10px">
    	<div class="panel-heading">
            <h1 class="panel-title">Guests List</h1>
		</div>
        <div class="panel-body">
            <table class="table">
            	<thead>
            		<tr>Name</tr>
            		<tr>Companions</tr>
            	</thead>
            	<tbody>
            		<tr th:each='guest :${guests}'>
            			<td th:text="${guest.name}">       </td>
            			<td th:text="${guest.companions}"> </td>
            		</tr>
            	</tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>