<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<title>Guests</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"       rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<body>
	<div>
		<h1>Spring Invitation Manager</h1>
		<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a th:href="@{/guests}">Guests</a></li>
  		</ul>
	</div>
	
	<div th:include=":: content">
	</div>
</body>
</html>